#footerLoginArea
    padding: 30px 5%
    position: fixed
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 100%
    font-size: 1.2rem
    bottom: 0
    a
        text-align: center
        transition: .3s ease
        &:hover
            box-shadow: 0px 2px 0 0 black